body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header img {  
    width: 100px;
    height: auto; 
    margin-right: 10px; 
    vertical-align: middle;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#projects {
    background-color: #f4f4f4;
}

.project {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

#contact {
    background-color: #333;
    color: #fff;
}
